.body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 730px)
}
.Menu-Principal {
    width: 100%;
    background-color: #00BFFF;
    height: 90px;
}
.Header1 {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.Logo {
    padding: 2px;
    float: left;
    width: 74%;
    height: 36px;
    position: relative;
    bottom: 52px;
    right: 3px;
}
.Sites-relacionados ul li {
    display: inline-block;
    list-style: none;
    margin-left: 15px;
}
.Sites-relacionados {
    float: right;
    bottom: 85px;
    position: relative;
}
.Texto {
    font-size: 2.3rem;
    text-align: center;
    position: relative;
    right: 210px;
    top: 18px;
    font-family: Snell Roundhand, cursive;
}
.Segunda-parte {
    background-color: green;
    height: 65px;
    position: relative;
    top: 1px;
    width: 100%;
}
.Menu ul li {
  display: inline-block;
}
.Menu ul li a:hover {
    color: #00BFFF;
    border-bottom: 2px solid #00BFFF;
}
.Menu ul li a {
    color: rgb(253, 249, 243);
    text-decoration: none;
    font-size: 22px;
    margin-left: 13px;
    font-family: Snell Roundhand, cursive;
    position: relative;
    top: 7px;
    right: 30px;
}
.Pesquisa {
    position: relative;
    left: 260px;
    bottom: 30px;
    margin: 0 auto;
    float: right;
    background-image: url('../img/Lupa.png');
    background-repeat: no-repeat;
    background-position: right;
}
.carousel {
    position: relative;
    bottom: 31px;
}
.carousel-item {
    width: 100%;
    height: 532px;
    margin: 0 auto;
}
.w-100 {
    width: 100%;
    position: relative;
    bottom: 220px;
    margin: 0 auto;
}
.w-101 {
    width: 100%;
    position: relative;
    bottom: 320px;
    margin: 0 auto;
}
.w-102 {
    width: 100%;
    position: relative;
    margin: 0 auto;
    height: 100%;
}
.Menu {
    position: relative;
    margin: 0 auto;
    width: 980px;
}