.body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 730px)
}
.Menu-Principal {
    width: 100%;
    background-image: url(../img/Fundo.png);
    height: 90px;
}
.Header1 {
    margin: 0 auto;
    width: 980px;
    position: relative;
    top: 0px;
    height: 90px;
}
.Logo {
    padding: 2px;
    float: left;
    width: 74%;
    height: 90px;
    position: relative;
    bottom: 2px;
    right: 0px;
}
.Sites-relacionados ul li {
    display: inline-block;
    list-style: none;
    margin-left: 15px;
}
.Sites-relacionados {
    float: right;
    bottom: 87px;
    position: relative;
}
.Segunda-parte {
    background-color: rgb(0, 145, 0);
    height: 55px;
    position: relative;
    top: 1px;
    width: 100%;
    z-index: 9999;
}
.Menu ul li {
  display: inline-block;
}
.Menu ul li a:hover {
    color: black;
    border-bottom: 2px solid black;
}
.Menu ul li a {
    color: rgb(253, 249, 243);
    text-decoration: none;
    font-size: 22px;
    margin-left: 13px;
    font-family: Snell Roundhand, cursive;
    position: relative;
    top: 7px;
    right: 30px;
}
.Pesquisa {
    position: relative;
    left: 385px;
    bottom: 37px;
    margin: 0 auto;
    float: right;
    background-image: url('../img/Lupa.png');
    background-repeat: no-repeat;
    background-position: right;
}
.carousel {
    position: relative;
    bottom: 43px;
}
.carousel-item {
    width: 100%;
    height: 532px;
    margin: 0 auto;
}
.w-100 {
    width: 100%;
    position: relative;
    bottom: 220px;
    margin: 0 auto;
}
.w-101 {
    width: 100%;
    position: relative;
    bottom: 320px;
    margin: 0 auto;
}
.w-102 {
    width: 100%;
    position: relative;
    margin: 0 auto;
    height: 100%;
}
.Menu {
    position: relative;
    margin: 0 auto;
    width: 980px;
}
.TituloS21 {
    font-size: 38px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
}
.TituloS22 {
    font-size: 18px;
}